body {
    background-color: rgb(241, 241, 241);
    font-family: 'Gotham', sans-serif;
}

h1, h2, h3, h4, h5, h6, header, nav, footer {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
}

header {
    text-align: center;
}

h3 {
    margin-bottom: 50px;
}

h3 img {
    margin-right: 20px;
    vertical-align: middle;
}

nav {
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: rgb(94, 94, 94);
    display: block;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 23px;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s;
}

nav a:hover, nav a.active-nav {
    border-bottom-color: rgba(44, 44, 44);
}